.ressource-header {
    border-bottom: 1px solid rgb(59, 59, 59);
    width: 100%;
    height: 15vh;
    padding: 0 .5em;

    >h2 {
        margin: 0 0;
        padding: .5em 0 0 0
    }


    >p {
        margin: 0 0;
        padding: 0;
        cursor: pointer;
    }


}