.ressource-header {
    border-bottom: 1px solid rgb(59, 59, 59);
    width: 100%;
    height: 15vh;
    padding: 0 .5em;


    >h2 {
        margin: 0 0;
        padding: .5em 0 0 0
    }


    .title-ctn {
        display: flex;
        align-items: left;
        gap: 1em;
        // flex-direction: column;
        // justify-content: center;

        >:last-child {
            display: flex;
            align-items: center;
            cursor: pointer
        }
    }

    .dropdown-btn {
        border-radius: 50px;
        width: 2em;
        height: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid red;
    }

<<<<<<< HEAD
}


.title-ctn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    justify-content: left;

    >:last-child {
        display: flex;
        align-items: center;
        cursor: pointer
    }
}


.campaign_info-ctn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    margin: 0 0;
    padding: 0;
    width: 100%;
    background-color: #edeff7;
    padding: .4em;

    
    >span {
        >h4 {
            font-weight: 500;
        }
        padding: none;
        width: 50%;
        height: 2em;
=======
    .campaign_info-ctn {
>>>>>>> parent of 86042af (Ressource headers finally looking decent)
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1em;
        margin: 0 0;
        padding: 0;
        width: 100%;
        background-color: #edeff7;
        padding: .4em;
        ;

        >span {
            padding: none;
            width: 50%;
            height: 2em;
            display: flex;
            align-items: center;
            gap: 1em;
        }

    }
}