$sidebar-content-width: 100%;


.sidebar {
    position: relative;
    height: 100vh;
    display: flex;
    padding: 0 2em;
    border-right: 1px solid #4b4b4b;



    &_btn-ctn {
        display: flex;
        flex-direction: column;
        margin-top: 2em;
        gap: .5em;
        padding: .5em
    }

    >.sidebar-content {
        right: calc($sidebar-content-width * -1.020);
        top: 0;
        width: $sidebar-content-width;
        height: 100vh;
        // overflow-y: hidden;
        gap: .4em;
        display: flex;
        flex-direction: column;

        >h4 {
            text-align: center;
        }

        .sidebar-content__item {
            cursor: pointer;
            display: flex;
            align-items: center;
            min-height: 2em;
            background-color: lightgrey;
            width: 80%;
            padding: .4em;
            font-size: smaller;
            border-radius: 10px;
        }

    }
}