$sidebar-content-width: 200px;


.sidebar {
    position: relative;
    height: 100vh;
    display: flex;

    &_btn-ctn {
        display: flex;
        flex-direction: column;
        margin-top: 2em;
        gap: .5em;
        padding: .5em
    }

    >.sidebar-content {
        right: calc($sidebar-content-width * -1.020);
        top: 0;
        width: $sidebar-content-width;
        height: 100vh;
        overflow-y: hidden;
        background-color: #5c5c5c;
        border-right: 1px solid #4b4b4b;

    }
}