.table-ctn {
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: -1;

    :last-child {
        border-bottom: none;
    }

    .table-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-weight: 700;
        font-size: larger;
        border: none;
        border-bottom: 1px solid rgb(63, 63, 63);

        >.row-ctn {
            border: none;
            outline: none;
            margin-bottom: .2em;
            padding-left: 1em;
            z-index: -1
        }
    }
}

.row-ctn {
    display: flex;
    flex-direction: row;
    width: 80%;
    z-index: 0;
    border-bottom: 1px solid rgb(63, 63, 63);
    position: relative;

    &.new-row {
        margin: 1.5em 2.5em;
        width: 79%;
        flex-direction: column;
        transform: translateX(10px);


        >button {
            width: 5em
        }

        .row-inputs {
            display: flex;
            flex-direction: row;
            gap: .2em;

            >input {
                background-color: rgb(26, 26, 26);
                padding: .75em;
                border: 1px solid rgb(48, 48, 48);
            }

            &.btn {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin: .5em
            }
        }

    }
}

.cell-ctn {
    width: 100%;
    padding: .5em .2em;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;


    &.isEditing {
        background-color: rgb(95, 95, 95);
        z-index: 1;
    }

    >input {
        background-color: transparent;
        outline: none;
        border: none;
        font-size: .9em;
        padding: 0;
        margin: 0;
        width: 100% !important;
        height: 100% !important;
    }

    &.position {
        width: 25%;
    }

    &.category {
        width: 40%;
    }

    &.entity_responsible {
        width: 50%;

        >div>ul {}
    }

    &.type {
        width: 40%;
    }

    &.completed {
        width: 10%;
    }


}