body {
    width: 100vw;
    // outline: 1px solid red
    display: flex;
    overflow-x: hidden;
    place-content: center;
    margin: 0 0;
    place-items: center;
}

#root {
    display: flex;
    overflow-x: hidden;
    place-content: center;
    place-items: center;

}