.dashboard-layout {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100vw;
}

.sidebar-layout {
    width: auto;
    height: 100vh;
}

.dashboard-outlet {
    width: 100%;
}